<div class="btn-group-vertical numeric-pad" role="group" aria-label="Basic example">

    @for (int i = 7; i > 0; i=i-3)
    {
        var i1 = i + 1;
        var i2 = i + 2;
    <div class="btn-group-lg">
        <button type="button" class="btn btn-secondary rounded-0" data-id="@i">@i</button>
        <button type="button" class="btn btn-secondary rounded-0" data-id="@i1">@i1</button>
        <button type="button" class="btn btn-secondary rounded-0" data-id="@i2">@i2</button>
    </div>
    }
    <div class="btn-group-lg">
        <button type="button" class="btn btn-secondary rounded-0" data-id="0">0</button>
        <button type="button" class="btn btn-danger rounded-0" data-id="-1">&lt;</button>
        <button type="button" class="btn btn-primary rounded-0" data-id="-2">&crarr;</button>
    </div>
</div>